:root{
    --black: #000;
    --white: #ffffff;
    --blackhover: #181818;
    --google_gray:#f2f2f2;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    font-size: 62.5%;
}

.capa{
    width: 100%;
    width: 100%;
    height: 300px;
    background-color:var(--black);
}
/*Estilos para el encabezado*/
.header{
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0; left: 0;
    display: flex;
    background-color: var(--black);
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.social-media {
    justify-content: center;
    align-items: center;
}
.container{
    width: 90%;
    max-width: 1200px;
}

.container .btn-menu label{
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    margin-left: 15px;
}

.container .menu{
    float: right;
    line-height: 100px;
}
.container .menu a{
    display: inline-block;
    padding: 15px;
    line-height: normal;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
    font-size: 15px;
    margin-right: 5px;
}
.container .menu a:hover{
    border-bottom: 2px solid #c7c7c7;
    padding-bottom: 5px;
}
/*Fin de Estilos para el encabezado*/

/*Menù lateral*/
#btn-menu{
    display: none;
}
.container-menu{
    z-index: 3;
    position: fixed;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    top: 0;left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}
#btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
}
.cont-menu{
    width: 100%;
    max-width: 250px;
    background: #1c1c1c;
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
}
#btn-menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);
}
.cont-menu nav{
    transform: translateY(15%);
}

.cont-menu nav a {
    font-size: 2rem;
}
.cont-menu nav a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}
.cont-menu nav a:hover{
    border-left: 5px solid #c7c7c7;
    background: #1f1f1f;
}
.cont-menu label{
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}

.social-media {
    display: flex;
    justify-content:flex-end;
}

.twitter span, .linkedin span, .github span{
    display: flex;
    width: 35px;
    height: 35px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.twitter, .github, .linkedin {
    margin: 7px 2px 10px 10px;
    display: block;
}

.twitter span {
    background-image: url(./Icons/social_media/twitter_icon.png);
}

.linkedin span {
    background-image: url(./Icons/social_media/linkedin_icon.png);
}

.github span {
    background-image: url(./Icons/social_media/github_icon.png);
    margin-right: 15px;
}

.presentation-container {
    width: 100%;
    height: 250px;
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: -1;
}

.presentation-container__name, .presentation-container__profession {
    color: var(--white);
    display: block;
}

.capa{
    width: 100%;
    height: 410px;
}

.presentation {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--white)
}

.presentation h2 {
    padding-top: 75px;
    font-size: 2.8rem;
}

.presentation h1 {
    font-size: 1.6rem;
}

.profile-photo {
    position: absolute;
    width: 200px;
    top: 330px;
}

.about-me {
    color: var(--black);
    display: flex;
    flex-direction: column;
}

.about-me h3 {
    margin-top: 90px;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 900;
}
p {
    margin-top: 30px;
    font-size:1.5rem;
    text-align: left;
    padding: 0 30px;
    font-weight:600 ;
}

.about-me__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    margin: 0 15px;
    border-bottom: 2px solid gray;
}

.about-me__container-img {
    padding-top: 30px;
    max-width: 300px;
    min-width: 200px;
    width: 60%;
    margin: 0 auto;
}

.skills-table {
    width: 80%;
    height: 900px;
    margin: 0 auto;
    padding: 20px 0;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 2px solid gray;
}

.skills-table table {
    width: 100%;
    max-width: 300px;
    min-width: 250px;
    height: 300px;
    border-spacing: 0;
}

.skills-table td {
    width: 50%;
    height: 15px;
    font-size: 1.4rem;
    font-weight: 450;
    line-height: 2.8rem;
    color: black;
    text-align: center;
    border: 1px solid #dadce0;
    background-color: var(--google_gray);
    font-style:normal;
    box-shadow: 5px 5px 10px  #dadce0;
}

#top {
    height: 25px;
    line-height: 4rem;
    font-size: 2rem;
    border-radius: 8px 8px 0 0;
    font-weight: bold;
}

.table__bottom {
    border-radius: 0 0 8px 8px;
}

.frontend-icon {
    position: relative;
    width: 50px;
    top: 30px;
    right: 15px;
}

.habilities-icon {
    position: relative;
    width: 50px;
    top: 40px;
    right: 30px;
}

.skills-table__container {
    width: 80%;
    min-width: 300px;
    max-width: 400px;
    height: 300;
    flex-wrap: wrap;
    padding: 20px;
}

